// Template
// Colors
$black: #161616;
$white: #ffffff;

// Functional colors
$functional: (
	yellow: #ffca3a,
	green: #8dc63f,
	blue: #1982c4,
	red: #ff595e
);

// Brand colors
$brand-color: #abc123;


////
/// Body
//
body {
	font-family: $font;

	// Sizing box model
	* {
		box-sizing: border-box;
	}

	// Anchors
	a {
		color: currentColor;
	}

	// SVG
	svg {
		width: auto;
		height: 100%;
	}
}
